.kuisioner1 {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: #000;
    font-family: 'Kalra', sans-serif;
}

.question {
    display: none; /* Sembunyikan semua pertanyaan secara default */
}

.question.active {
    display: block; /* Tampilkan pertanyaan yang memiliki kelas .active */
}

.nmrsoal {
    font-size: 55px;
}

.warnatipe {
    color: #AD1412;
}

.gruprasa {
    border: transparent !important;
}

button {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 14px;
    background-color: transparent;
    color: black;
    border-radius: 10px !important;
    transition: background-color 0.3s;
}

button:hover {
    border-color: transparent;
}
